<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/javascripts/libs/extjs/resources/css/ext-all.css">
 
    <!-- LIBS -->
    <script type="text/javascript" src="/javascripts/libs/extjs/ext-all-debug.js"></script>
 
    <!-- APP -->
    <script type="text/javascript" src="/javascripts/AplicationExtJS.js"></script>
  </head>
  <body>
 
  </body>
</html>